<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Jobs</servlet-name>
        <servlet-class>Jobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>ContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewJob</servlet-name>
        <servlet-class>NewJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Students</servlet-name>
        <servlet-class>Students</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jobs</servlet-name>
        <url-pattern>/Jobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewJob</servlet-name>
        <url-pattern>/NewJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Students</servlet-name>
        <url-pattern>/Students</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
